/MANIFEST
/MANIFEST.bak
/MYMETA.*
/Makefile
/Makefile.old
/README
/blib/
/cover_db/
/pm_to_blib
/Locale-Maketext-Simple-*/
/Locale-Maketext-Simple-*.tar
/Locale-Maketext-Simple-*.tar.gz
*~
*#
.#*
*.swp
